<h1>Login</h1>
<%= form_for(@user, url: sessions_path) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Login" %>
<% end %>
<br>
<%= link_to "Sign up as new user", signup_path %>
