 <h1><%= @user.name %>'s Profile Page</h1>

<p>Profile Picture</p>

<% if @reviews.average(:rating) %>
  <h2>Average Rating: <%= @reviews.average(:rating) %></h2>
  <p><%= @reviews.count %> reviews(s)</p>

  <div class="ratings">
    <p>
      <% @reviews.average(:rating).round.times do %>
        <span class="glyphicon glyphicon-star"></span>
      <% end %>
      <% (5 - @reviews.average(:rating).round).times do %>
        <span class="glyphicon glyphicon-star-empty"></span>
      <% end %>
    </p>
  </div>

<% end %>


<h3>Bio</h3>
  <p><%= @user.bio %></p>

<h2>All Reviews</h2>

  <div class="ratings">
  <% @reviews.each do |review| %>
    <h4>
      <% review.rating.round.times do %>
        <span class="glyphicon glyphicon-star"></span>
      <% end %>
      <% (5 - review.rating.round).times do %>
        <span class="glyphicon glyphicon-star-empty"></span>
      <% end %>

      "<%= review.content %>"
    </h4>
      <p>Reviewed by <%= review.item.order.buyer.name %> for <%= review.item.name %></p>
    </div>

<% end %>

<% if current_user == @user %>
  <br>
  <%= link_to "Edit Your Profile", edit_user_path(@user)%>
  <br>
  <%= link_to "Log Out", logout_path, method: "delete" %>
<% end %>
