<div class="row">
  <div class="col-md-6 col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-6">
          <div class="thumbnail">
            <% if @user.avatar? %>
              <%= image_tag(@user.avatar_url) %>
            <% else %>
              <%= image_tag('default_avatar.png') %>
            <% end %>
          </div>
        </div>
        <div class="col-md-6">
          <h1><%= @user.name %></h1>
          <% if @reviews.average(:rating) %>
            <div class="ratings">
              <p>
                <% @reviews.average(:rating).round.times do %>
                  <span class="glyphicon glyphicon-star"></span>
                <% end %>
                <% (5 - @reviews.average(:rating).round).times do %>
                  <span class="glyphicon glyphicon-star-empty"></span>
                <% end %>
              </p>
              <p><%= @reviews.count %> <%= @reviews.count > 1 ? "reviews" : "review" %></p>
            </div>
          <% end %>
        </div>
        <div class="col-md-12">
          <h3>Bio</h3>
          <p><%= @user.bio %></p>
          <h3><%= link_to "Items for sale", items_path(:seller_id => @user.id) %></h3>
          <h3><%= link_to "Past orders", orders_path %></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h2>All Reviews</h2>
    <div class="ratings">
      <br>
      <% @reviews.each do |review| %>
        <h4>
          <% review.rating.round.times do %>
            <span class="glyphicon glyphicon-star"></span>
          <% end %>
          <% (5 - review.rating.round).times do %>
            <span class="glyphicon glyphicon-star-empty"></span>
          <% end %>
          "<%= review.content %>"
        </h4>
        <p>Reviewed by <%= link_to(review.item.order.buyer.name, user_path(review.item.order.buyer)) %> for <%= link_to(review.item.name, item_path(review.item)) %></p>
      <% end %>
    </div>
  </div>
</div>
<footer class="footer">
  <% if current_user == @user %>
    <div class="container">
      <br>
      <%= link_to "Edit Your Profile", edit_user_path(@user), class:'btn btn-primary' %>
      <br>
      <br>
      <%= link_to "Log Out", logout_path, method: "delete", class:'btn btn-primary' %>
    </div>
  <% end %>
</footer>
