<h1>My Orders</h1>


  <% @orders.each do |order| %>
      <h4>Order from <%= order.created_at %></h4>
        <p><% order.items.each do |item| %>
        <p><%= image_tag(item.item_pic_url) if item.item_pic? %></p>
            <%= item.name %>
              <% if item.review == nil %>
              <%= link_to("Create Review", new_review_path(:item_id => item.id), method: :get, class:"btn btn-default") %>
              <% else %>
              <span style="color:green">Reviewed!</span> <span class="glyphicon glyphicon-ok"></span>
              <% end %>
        <% end %></p>
        <br><br>
  <% end %>

  <%= link_to("See all your reviews", reviews_path) %>
