<h1>My Orders</h1>


  <% @orders.each do |order| %>
    <ul>
      <li>Order from <%= order.created_at %>
        <% order.items.each do |item| %>
          <ul>
            <li><%= image_tag(item.item_pic_url) if item.item_pic? %> </li>
            <li><%= item.name %></li>
          </ul>
          <% if item.review == nil %>
            <%= link_to("Review", new_review_path(:item_id => item.id), method: :get) %>
          <% else %>
            Reviewed! <span class="glyphicon glyphicon-ok"></span>
          <% end %>
        <% end %>
      </li>
    </ul>
  <% end %>

  <%= link_to("View all your reviews", reviews_path) %>
