<h1>My Orders</h1>

<% @orders.each do |order| %>
    <div class="row">
      <div class="col-md-9">
        <h4>Order from <%= (order.created_at.to_date).strftime("%b %d, %Y")%></h4>
        <div class="row">
          <% counter = 0 %>
          <% order.items.each do |item| %>
          <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
              <% if item.item_pic? %>
                <%= link_to image_tag(item.item_pic_url), item_path(item) %>
              <% else %>
                <%= link_to image_tag('placeholder.png'), item_path(item) %>
              <% end %>
              <div class="caption">
                <h4 class="pull-right"><%= number_to_currency(item.price, :precision => 2) %></h4>
                <h4>
                  <%= link_to item.name, item_path(item) %>
                </h4>
              </div>
            </div>
          </div>
          <% counter += 1 %>
          <div <%= "class=clearfix" if counter % 3 == 0 %> ></div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>


<div><%= link_to("See all your reviews", reviews_path) %></div>
