<% if @items.empty? %>
  <%= link_to("Continue Shopping", items_path, class:"btn btn-primary") %>
<% else %>

  <div class="container">
    <h2>New Order</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Item</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td>
              <% if item.item_pic? %>
              <%= link_to image_tag(item.item_pic_url, class:"img-responsive center-block", style:"max-height:60px"), item_path(item) %>
              <% else %>
              <%= link_to image_tag('placeholder.png', class:"img-responsive center-block", style:"max-height:60px"), item_path(item) %>
              <% end %>
            </td>
            <td><%= item.name %></td>
            <td><%= number_to_currency(item.price, :precision => 2) %></td>
          </tr>
        <% end %>
          <tr>
            <td></td>
            <td><span class="pull-right">Total</span></td>
            <td><%= display_cart_total %></td>
          </tr>
      </tbody>
    </table>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>New Order</h3>
        </div>
        <div class="panel-body">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
