<div class="row">
  <%= form_for @item do |f| %>
  <div class="form-group col-xs-7">
    <%= f.label :name, class:'control-label' %>
    <%= f.text_field :name, class:'form-control' %>
  </div>
  <div class="form-group col-xs-7 col-sm-7">
    <%= f.label :description, class:'control-label' %>
    <%= f.text_area :description, class:"form-control", rows:"2", style:"resize:none;" %>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-xs-4 col-sm-4 col-md-3">
    <%= f.label :price, class:'control-label' %>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.number_field :price, class: :text_field, step: :any, class:'form-control' %>
    </div>
  </div>
  <div class="form-group col-xs-12 col-sm-4">
    <%= f.label :condition, class:'control-label' %><br>
    <%= f.select(:condition, Item.conditions, class:'form-control') %>
  </div>
  <div class="form-group col-xs-12 col-sm-4">
    <%= f.label :category, class:'control-label' %><br>
    <%= f.collection_select(:category_id, Category.all.order(:name), :id, :name, class:'form-control') %>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-sm-12">
    <%= image_tag(@item.item_pic_url, class:'img-responsive', style:'max-height:200px;') if @item.item_pic? %>
    <%= f.label :item_pic, "Upload Picture", class:'control-label' %>
    <%= f.file_field :item_pic %>
    <%= f.hidden_field :item_pic_cache %>
  </div>
  <div class="form-group col-sm-3">
    <%= f.submit class:'btn btn-primary' %>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-sm-3">
    <%= link_to "Cancel", items_path, class:'btn btn-danger' %>
  </div>
  <% end %>
</div>
