<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      <%= link_to "All Items", items_path, class:'list-group-item' %>
      <% Category.all.order(:name).each do |category| %>
        <%= link_to category.name.capitalize, items_path(category_id: category.id), class:'list-group-item' %>
      <% end %>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <% @items.each do |item| %>
      <!-- Item -->
      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
          <% if item.item_pic? %>
            <%= link_to image_tag(item.item_pic_url), item_path(item) %>
          <% else %>
            <%= link_to image_tag('placeholder.png'), item_path(item) %>
          <% end %>
          <div class="caption">
            <h4 class="pull-right"><%= number_to_currency(item.price, :precision => 2) %></h4>
            <h4>
              <%= link_to item.name, item_path(item) %>
            </h4>
            <p> <%= item.description %> </p>
          </div>
        </div>
      </div>
      <!-- Item -->
      <% end %>
    </div>
  </div>
</div>
