<h1><%= link_to "All Items", items_path %></h1>
<h2> Find Items by Category </h2>
<div>
  <%= link_to "Clothing", items_path(:category_id => 1) %>
  <%= link_to "Books", items_path(:category_id => 2) %>
  <%= link_to "Electronics", items_path(:category_id => 3) %>
</div>
<br>
<% @items.each do |item| %>
  <div>
    <% if item.item_pic? %>
      <%= link_to image_tag(item.item_pic_url), item_path(item) %>
    <% else %>
      <%= link_to image_tag('placeholder.png'), item_path(item) %>
    <% end %>
    <br>
    <%= link_to item.name, item_path(item) %></div>
  <br>
<% end %>
