<div class="row">
  <div class="col-md-3">
    <%= form_tag items_path, method:"GET" do %>
      <%= hidden_field_tag :category_id, params[:category_id] if params[:category_id]%>
      <%= hidden_field_tag :seller_id, params[:seller_id] if params[:seller_id]%>
      <div class="form-group">
        <div class="input-group">
          <%= text_field_tag :query, params[:query], class:'form-control' %>
          <span class="input-group-btn">
            <% if params[:query] %>
              <%= link_to items_path(category_id:params[:category_id], seller_id:params[:seller_id]), class:'btn btn-default' do %>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <% end %>
            <% end %>
            <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </span>
        </div>
      </div>
    <% end %>
    <div class="list-group">
      <%= link_to "All Items", items_path(query:params[:query], seller_id:params[:seller_id]), class:"list-group-item #{'active' if params[:category_id].nil?}" %>
      <% Category.all.order(:name).each do |category| %>
        <%= category_link(category, params[:seller_id]) %>
      <% end %>
    </div>
  </div>
  <div class="col-md-9">
    <% if params[:seller_id] && params[:seller_id].to_i > 0 %>
      <div class="text-center">
        <h1> <%= User.find(params[:seller_id].to_i).name %>'s Items
        </h1>
        <br>
      </div>
    <% end %>
    <div class="row">
      <% count = 0 %>
      <% @items.each do |item| %>
        <% count += 1 %>
        <!-- Item -->
        <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
            <% if item.item_pic? %>
              <%= link_to image_tag(item.item_pic_url), item_path(item) %>
            <% else %>
              <%= link_to image_tag('placeholder.png'), item_path(item) %>
            <% end %>
            <div class="caption">
              <h4 class="pull-right"><%= number_to_currency(item.price, :precision => 2) %></h4>
              <h4>
                <%= link_to item.name, item_path(item) %>
              </h4>
              <p> <%= item.description %> </p>
            </div>
          </div>
        </div>
        <!-- Item -->
        <% if count % 3 == 0 %>
          <div class="clearfix">
            <!-- clearfix cols every 3 -->
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<footer class="footer text-center">
  <div class="container">
    <%= paginate @items %>
  </div>
</footer>
