
<h3> <%= @item.name %> </h3>
<%= image_tag(@item.item_pic_url) if @item.item_pic? %>
<p> <%= @item.description %> </p>
<p> <%= @item.price %> </p>
<p> Sold By: <%= link_to @item.seller.name, user_path(@item.seller) %> </p>

<hr>

<div class="col-sm-4 col-lg-4 col-md-4">
  <div class="thumbnail">
    <% if item.item_pic? %>
      <%= link_to image_tag(item.item_pic_url), item_path(item) %>
    <% else %>
      <%= link_to image_tag('placeholder.png'), item_path(item) %>
    <% end %>
    <div class="caption">
      <h4 class="pull-right"><%= number_to_currency(item.price, :precision => 2) %></h4>
      <h4>
        <%= link_to item.name, item_path(item) %>
      </h4>
      <p> <%= item.description %> </p>
    </div>
  </div>
</div>

<%= form_for @review do |f| %>
  <div class="form-group">
    <%= f.label :content, "Write a comment" %>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-12" >
        <%= f.text_area :content, class:'form-control', style:'resize:none;' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rating, "Give a rating (1-5)" %>
    <div class="row">
      <div class="col-xs-4 col-sm-2 col-md-6" >
        <%= f.number_field :rating, class:'form-control' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit class:'btn btn-primary' %>
    <%= link_to("Cancel", reviews_path, class:'btn btn-danger') %>
  </div>
<% end %>
