<h1> <%= @item.name %> </h1>
<%= image_tag(@item.item_pic_url) if @item.item_pic? %>
<p> <%= @item.description %> </p>
<p> <%= @item.price %> </p>
<p> Sold By: <%= @item.seller.name %> </p><br><br>


<%= form_for @review do |f| %>
  <%= f.label :content, "Write a comment" %><br><br>
  <%= f.text_area :content %><br><br>

  <%= f.label :rating, "Give a rating (1-5)" %><br><br>
  <%= f.text_field :rating %><br><br>

  <%= f.submit %><br><br>
<% end %>

<%= link_to("Cancel", reviews_path) %>
